Repository SplashCodeDex/WhatsDeX: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.json": [
    "npx prettier --write"
  ],
  "*.md": [
    "npx prettier --write"
  ]
}

conductor(plan): Mark phase 'Core Agent Identity' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

feat(backend): Implement ChannelManagerService for dynamic agent linking
  backend/src/services/ChannelManagerService.test.ts
  backend/src/services/ChannelManagerService.ts
Due: none

conductor(plan): Mark task 'Refactor Channel Instance logic' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

feat(agents): Implement ChannelLinker component for connectivity management
  frontend/src/features/agents/components/ChannelLinker.test.tsx
  frontend/src/features/agents/components/ChannelLinker.tsx
Due: none

conductor(plan): Mark task 'Connectivity Tab' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

feat(agents): Implement ChannelSlotGuard utility for tier enforcement
  frontend/src/features/agents/utils/ChannelSlotGuard.test.ts
  frontend/src/features/agents/utils/ChannelSlotGuard.ts
Due: none

feat(agents): Integrate tier enforcement into ChannelLinker UI
  frontend/src/features/agents/components/ChannelLinker.tsx
Due: none

conductor(plan): Mark task 'Billing Tier Enforcement' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

conductor(plan): Mark phase 'Dynamic Connectivity' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

feat(messages): Standardize OmnichannelMessageSchema with channelType and agentId
  frontend/src/features/messages/types.test.ts
  frontend/src/features/messages/types.ts
Due: none

conductor(plan): Mark task 'Standardize Message Schema' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

feat(messages): Implement Unified Inbox with channel filtering UI
  frontend/src/features/messages/components/UnifiedInbox.test.tsx
  frontend/src/features/messages/components/UnifiedInbox.tsx
  frontend/src/features/messages/hooks/useMessageHistory.ts
Due: none

conductor(plan): Mark task 'Unified Inbox UI' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

feat(agents): Implement tier-based Skill Gating logic and UI
  frontend/src/features/agents/components/SkillToggle.tsx
  frontend/src/features/agents/utils/SkillGating.test.ts
  frontend/src/features/agents/utils/SkillGating.ts
Due: none

conductor(plan): Mark task 'Skill Gating Logic' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

feat(omnichannel): Implement real-time tool activity stream via Socket.io
  backend/src/services/geminiAI.ts
  frontend/src/app/(dashboard)/dashboard/omnichannel/ActivityFeed.test.tsx
  frontend/src/app/(dashboard)/dashboard/omnichannel/ActivityFeed.tsx
  frontend/src/types/omnichannel.ts
Due: none

conductor(plan): Mark task 'Real-time Activity Stream' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

conductor(plan): Mark phase 'Omnichannel Chat' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

feat(backend): Implement tiered CronManagerService frequency enforcement
  backend/src/services/CronManagerService.test.ts
  backend/src/services/CronManagerService.ts
Due: none

conductor(plan): Mark task 'Tiered Cron Frequency' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

feat(backend): Implement UsageGuard for monthly message limits
  backend/src/services/UsageGuard.test.ts
  backend/src/services/UsageGuard.ts
Due: none

conductor(plan): Mark task 'Broadcast Usage Tracking' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

conductor(plan): Mark phase 'Automation' as complete
  conductor/tracks/unified_agent_20260219/plan.md
Due: npx prettier --write

feat(backend): implement and test JobRegistry processor registration
  Expiremental/SwitchToggle.css
  Expiremental/SwitchToggle.html
  Expiremental/SwitchToggle.js
  backend/src/jobs/index.test.ts
  backend/src/jobs/index.ts
  backend/src/services/jobQueue.ts
  conductor/archive/unified_agent_20260219/metadata.json
  conductor/archive/unified_agent_20260219/plan.md
  conductor/archive/unified_agent_20260219/spec.md
  conductor/product.md
  conductor/tracks/non_wired_features_20260123/COMPREHENSIVE_AUDIT_REPORT.md
  frontend/src/app/(dashboard)/dashboard/agents/page.tsx
  frontend/src/components/layouts/Sidebar.tsx
  frontend/src/features/agents/components/ChannelLinker.test.tsx
  frontend/src/features/messages/types.ts
  frontend/src/styles/liquid-glass.css
  frontend/src/types/omnichannel.ts
  frontend/tsconfig.tsbuildinfo
Due: eslint --fix, npx prettier --write

feat(backend): initialize JobRegistry in startup sequence
  backend/src/main.ts
Due: none

test(backend): add unit tests for JobQueueService.process
  backend/src/services/jobQueue.test.ts
Due: none

feat(analytics): implement hybrid usage tracking and analytics routes
  backend/src/controllers/analyticsController.ts
  backend/src/jobs/index.ts
  backend/src/jobs/statsAggregatorJob.ts
  backend/src/routes/analyticsRoutes.ts
  backend/src/services/analytics.ts
Due: none

conductor(checkpoint): Checkpoint end of Phase 2: Analytics & Usage Engine
  backend/src/jobs/statsAggregatorJob.test.ts
  backend/src/routes/analyticsRoutes.test.ts
Due: none

feat(messages): Implement and verify Unified Inbox reply logic
  backend/src/controllers/messageController.test.ts
  backend/src/controllers/messageController.ts
  backend/src/routes/messageRoutes.ts
  frontend/src/app/(dashboard)/dashboard/templates/page.tsx
  frontend/src/components/layouts/Sidebar.tsx
  frontend/src/features/messages/components/TemplateManagement.tsx
  frontend/src/features/messages/components/UnifiedInbox.test.tsx
  frontend/src/features/messages/components/UnifiedInbox.tsx
  frontend/src/features/messages/index.ts
Due: none

feat(messages): Complete Phase 3 - Inbox reply, Template management, and AI spinning
  frontend/src/features/messages/components/TemplateManagement.test.tsx
  frontend/src/features/messages/components/TemplateManagement.tsx
Due: none

feat(intelligence): Implement AI Persistent Learning and Backup Service
  backend/src/services/backupService.test.ts
  backend/src/services/backupService.ts
  backend/src/services/geminiAI.learning.test.ts
  backend/src/services/geminiAI.ts
Due: none

conductor(plan): Mark Phase 4 as complete
  conductor/tracks/system_integration_20260220/plan.md
Due: npx prettier --write

conductor(tracks): Mark System-Wide Feature Integration track as complete
  conductor/tracks.md
Due: npx prettier --write

docs(product): Update features with AI learning and backups
  conductor/product.md
Due: npx prettier --write

feat(flows): Complete Phase 1 - Visual FlowBuilder Canvas and Persistence
  backend/src/controllers/flowController.ts
  backend/src/routes/flowRoutes.ts
  backend/src/server/multiTenantApp.ts
  backend/src/services/flowService.test.ts
  backend/src/services/flowService.ts
  conductor/tracks.md
  conductor/tracks/flowbuilder_20260220/plan.md
  conductor/tracks/flowbuilder_20260220/spec.md
  frontend/package.json
  frontend/src/app/(dashboard)/dashboard/flows/page.tsx
  frontend/src/components/layouts/Sidebar.tsx
  frontend/src/features/flows/components/BaseNode.tsx
  frontend/src/features/flows/components/CustomNodes.tsx
  pnpm-lock.yaml
Due: npx prettier --write

conductor(plan): Mark FlowBuilder Phase 1 as complete
  conductor/tracks/flowbuilder_20260220/plan.md
Due: npx prettier --write
