Repository SplashCodeDex/WhatsDeX: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx prettier --write

feat(settings): add tenant settings management with UI and API
  backend/src/routes/tenantSettingsRoutes.ts
  backend/src/server/multiTenantApp.ts
  frontend/components.json
  frontend/package.json
  frontend/src/app/(dashboard)/dashboard/messages/page.tsx
  frontend/src/app/(dashboard)/settings/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/features/bots/components/BotConnectDialog.tsx
  frontend/src/features/messages/components/CampaignList.tsx
  frontend/src/features/messages/components/CreateCampaignDialog.tsx
  frontend/src/features/messages/hooks/useCampaigns.ts
  frontend/src/features/messages/index.ts
  frontend/src/lib/api/tenant.ts
  frontend/src/lib/utils.ts
  frontend/src/types/tenantConfig.ts
  frontend/tsconfig.tsbuildinfo
  package-lock.json
Due: npx prettier --write

feat(dashboard): add assets page with sidebar navigation
  frontend/src/app/(dashboard)/dashboard/assets/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/layouts/Sidebar.tsx
  frontend/src/components/ui/icons.tsx
  frontend/src/styles/backgrounds.css
Due: none

feat(auth): add animated hero section to auth layout
  frontend/src/app/(auth)/layout.tsx
  frontend/src/features/auth/components/AnimatedAuthHero.tsx
  frontend/src/features/auth/components/index.ts
  frontend/src/features/auth/index.ts
Due: none

feat(auth): enhance hero with feature pills and icon guidelines
  .agent/workflows/PROJECT_RULES.md
  frontend/src/features/auth/components/AnimatedAuthHero.tsx
Due: npx prettier --write

conductor(plan): Mark Phase 1 & 2 as complete
  conductor/tracks/plans_billing_20260115/plan.md
Due: npx prettier --write

feat(billing): Implement /api/billing/checkout endpoint with trial support
  backend/src/controllers/billingController.test.ts
  backend/src/controllers/billingController.ts
  backend/src/routes/billingRoutes.ts
  backend/src/server/multiTenantApp.ts
Due: none

conductor(plan): Mark task 'Implement /api/billing/checkout endpoint' as complete
  conductor/tracks/plans_billing_20260115/plan.md
Due: npx prettier --write

feat(billing): Implement Stripe webhook endpoint with idempotency and Zod validation
  backend/src/controllers/stripeWebhookController.test.ts
  backend/src/controllers/stripeWebhookController.ts
  backend/src/routes/stripeWebhookRoutes.ts
  backend/src/server/multiTenantApp.ts
Due: none

conductor(plan): Mark task 'Implement /api/billing/webhook endpoint' as complete
  conductor/tracks/plans_billing_20260115/plan.md
Due: npx prettier --write

feat(billing): implement stripe webhook event handlers and refactor auth components
  backend/src/controllers/stripeWebhookController.test.ts
  backend/src/controllers/stripeWebhookController.ts
  conductor/tracks/plans_billing_20260115/plan.md
  frontend/src/app/(auth)/layout.tsx
  frontend/src/app/(auth)/login/layout.tsx
  frontend/src/app/(auth)/register/layout.tsx
  frontend/src/components/ui/icons.tsx
  frontend/src/features/auth/components/AnimatedAuthHero.tsx
  frontend/src/features/auth/components/LoginForm.tsx
  frontend/src/features/auth/components/RegisterForm.tsx
  frontend/src/features/auth/index.ts
  frontend/src/features/auth/utils.ts
Due: npx prettier --write

feat(billing): Implement subscription lifecycle handlers for Stripe webhooks
  backend/src/controllers/stripeWebhookController.test.ts
Due: none

conductor(plan): Mark subscription handling tasks as complete
  conductor/tracks/plans_billing_20260115/plan.md
Due: npx prettier --write

conductor(checkpoint): Checkpoint end of Phase 3
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
Due: none

conductor(plan): Mark Phase 3 as complete
  conductor/tracks/plans_billing_20260115/plan.md
Due: npx prettier --write

feat(auth): force dynamic rendering in login and register layouts
  conductor/tracks/plans_billing_20260115/plan.md
  frontend/src/app/(auth)/login/layout.tsx
  frontend/src/app/(auth)/register/layout.tsx
Due: npx prettier --write

feat(auth): add animated transitions for auth layouts
  frontend/src/app/(auth)/layout.tsx
  frontend/src/app/(auth)/login/layout.tsx
  frontend/src/app/(auth)/register/layout.tsx
  frontend/src/components/ui/motion.tsx
  frontend/src/features/auth/components/AnimatedAuthHero.tsx
  frontend/src/features/auth/components/AuthTransitionLayout.tsx
  frontend/src/features/auth/components/index.ts
  frontend/src/features/auth/index.ts
Due: none

feat(ui): add pricing link and enhance auth animations with parallax and confetti
  frontend/package.json
  frontend/src/app/page.tsx
  frontend/src/app/pricing/page.tsx
  frontend/src/features/auth/components/AnimatedAuthHero.tsx
  frontend/src/features/auth/components/AuthTransitionLayout.tsx
  frontend/src/features/auth/components/LoginForm.tsx
  frontend/src/features/auth/components/RegisterForm.tsx
  frontend/src/features/billing/components/PricingTable.tsx
  frontend/src/lib/confetti.ts
  package-lock.json
Due: npx prettier --write

feat(billing): Add frontend components for pricing and billing management
  backend/src/controllers/billingController.ts
  backend/src/routes/billingRoutes.ts
  frontend/src/app/(dashboard)/dashboard/billing/page.tsx
  frontend/src/features/billing/components/BillingSettings.tsx
  frontend/src/lib/api/billing.ts
  frontend/src/types/billing.ts
Due: none

conductor(plan): Mark UI components tasks as complete
  conductor/tracks/plans_billing_20260115/plan.md
Due: npx prettier --write

feat(billing): Add UpgradeModal component for contextual upgrades
  frontend/src/features/billing/components/UpgradeModal.tsx
Due: none

conductor(plan): Mark Phase 4 implementation tasks as complete
  conductor/tracks/plans_billing_20260115/plan.md
Due: npx prettier --write

conductor(checkpoint): Checkpoint end of Phase 4
  frontend/src/features/auth/components/AnimatedAuthHero.tsx
  frontend/src/features/auth/components/AuthTransitionLayout.tsx
Due: none

refactor(stripe): consolidate stripe services and update imports
  backend/src/controllers/authController.ts
  backend/src/server/multiTenantApp.ts
  backend/src/services/index.ts
  backend/src/services/multiTenantStripeService.ts
  backend/src/services/stripe.ts
  backend/src/services/stripeService.ts
  backend/src/services/subscription.ts
  conductor/tracks/plans_billing_20260115/plan.md
  frontend/src/features/auth/components/AnimatedAuthHero.tsx
  frontend/src/features/auth/components/AuthTransitionLayout.tsx
Due: npx prettier --write

conductor(checkpoint): Checkpoint end of Phase 5
  backend/src/controllers/billingController.ts
  backend/src/controllers/billingIntegration.test.ts
  backend/src/controllers/stripeWebhookController.ts
  backend/src/jobs/campaignWorker.ts
  backend/src/main.ts
  backend/src/routes/campaigns.ts
  backend/src/services/campaignService.ts
  backend/src/services/queueService.ts
  backend/src/services/subscription.ts
  conductor/tracks/plans_billing_20260115/plan.md
  frontend/next.config.ts
  frontend/package.json
  frontend/src/features/messages/components/CampaignList.tsx
  frontend/src/features/messages/components/CreateCampaignDialog.tsx
  frontend/src/features/messages/hooks/useCampaigns.ts
  frontend/src/lib/api/client.ts
Due: npx prettier --write

refactor(stripe): update webhook controller to use subcollections and sync user plans
  backend/src/controllers/stripeWebhookController.ts
  backend/src/routes/campaigns.ts
  backend/src/services/multiTenantService.ts
  backend/src/tools/refactor.ts
  backend/src/types/contracts.ts
  frontend/src/components/layouts/Header.tsx
  frontend/src/features/billing/components/PricingTable.tsx
  frontend/tsconfig.tsbuildinfo
Due: none

feat: implement billing system, enhance multi-tenancy, and optimize AI services
  .husky/pre-commit
  backend/package.json
  backend/scripts/check_imports.js
  backend/scripts/migrate_imports.js
  backend/scripts/seed-firestore.ts
  backend/src/commands/ai-chat/gemini.ts
  backend/src/controllers/billingController.test.ts
  backend/src/controllers/billingIntegration.test.ts
  backend/src/controllers/stripeWebhookController.test.ts
  backend/src/jobs/campaignWorker.ts
  backend/src/middleware/authMiddleware.test.ts
  backend/src/server/multiTenantApp.ts
  backend/src/services/FirebaseService.test.ts
  backend/src/services/FirebaseService.ts
  backend/src/services/commandSystem.ts
  backend/src/services/geminiAI.ts
  backend/src/services/planService.ts
  backend/src/services/stripeService.test.ts
  backend/src/tools/refactor.ts
  backend/src/utils/chatHistoryManager.ts
  backend/src/utils/createBotContext.ts
  conductor/tracks.md
  conductor/tracks/stabilization_20260115/plan.md
  frontend/package.json
  frontend/src/features/billing/hooks/useSubscription.ts
  frontend/src/features/billing/index.ts
  frontend/src/features/bots/components/CreateBotDialog.tsx
  package-lock.json
Due: eslint --fix, npx prettier --write

feat(arch): finalize system stabilization and multi-tenant wiring
  backend/src/services/commandSystem.ts
  backend/src/services/geminiAI.ts
  backend/src/utils/featureGating.ts
Due: none

chore(ops): add production seeding and quality gate scripts
  .husky/pre-commit
Due: none

feat: Implement initial bot management feature with dedicated frontend components, types, schemas, and backend API integration for connection and settings.
  backend/src/commands/main/menu.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/middleware/permissions.ts
  backend/src/types/tenantConfig.ts
  backend/test-firebase.ts
  conductor/tracks.md
  frontend/src/features/bots/components/BotCard.tsx
  frontend/src/features/bots/components/BotSettingsDialog.tsx
  frontend/src/features/bots/components/index.ts
  frontend/src/features/bots/hooks/useBots.ts
  frontend/src/features/bots/index.ts
  frontend/src/features/bots/schemas.ts
  frontend/src/features/bots/types.ts
  frontend/src/types/index.ts
Due: npx prettier --write

feat: implement user authentication flow with dedicated pages and components for login, registration, forgot password, and reset password.
  frontend/src/app/(auth)/forgot-password/page.tsx
  frontend/src/app/(auth)/reset-password/page.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/password-input.tsx
  frontend/src/features/auth/actions.ts
  frontend/src/features/auth/components/ForgotPasswordForm.tsx
  frontend/src/features/auth/components/LoginForm.tsx
  frontend/src/features/auth/components/RegisterForm.tsx
  frontend/src/features/auth/components/ResetPasswordForm.tsx
  frontend/src/features/auth/components/index.ts
  frontend/src/features/auth/index.ts
Due: none

feat: Implement user login form, interactive authentication progress bar, and dashboard loading UI.
  frontend/src/app/(dashboard)/loading.tsx
  frontend/src/features/auth/components/InteractiveAuthProgressBar.tsx
  frontend/src/features/auth/components/LoginForm.tsx
  frontend/src/features/auth/components/index.ts
  frontend/src/features/auth/index.ts
Due: none

feat(contracts): Define Contact and Audience schemas
  backend/src/types/contracts.test.ts
  backend/src/types/contracts.ts
Due: none

conductor(plan): Mark task 'Define Data Contracts & Schemas' as complete
  conductor/tracks/marketing_engine_20260121/plan.md
Due: npx prettier --write

feat(marketing): Implement ContactService with CSV import
  backend/src/services/FirebaseService.ts
  backend/src/services/contactService.test.ts
  backend/src/services/contactService.ts
  backend/src/types/firestore.ts
  conductor/tracks/marketing_engine_20260121/plan.md
Due: npx prettier --write

conductor(plan): Mark task 'Implement ContactService' as complete
  conductor/tracks/marketing_engine_20260121/plan.md
Due: npx prettier --write

feat(marketing): Add /api/contacts/import endpoint
  backend/src/controllers/contactController.test.ts
  backend/src/controllers/contactController.ts
  backend/src/routes/contactRoutes.ts
Due: none

conductor(plan): Mark task 'Create Contact API Routes' as complete
  conductor/tracks/marketing_engine_20260121/plan.md
Due: npx prettier --write

fix(test): Update auth error message expectation and fix contact service issues
  backend/src/middleware/authMiddleware.test.ts
  backend/src/services/contactService.ts
  frontend/src/app/globals.css
  frontend/src/app/providers.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/features/auth/components/AuthTransitionLayout.tsx
  frontend/src/features/auth/components/LoginForm.tsx
  frontend/src/features/auth/components/RegisterForm.tsx
  frontend/src/features/auth/store.ts
Due: none

Path conditions:
  eslint --fix: any of: *.js
  npx prettier --write: (any of: *.json) or (any of: *.md)
