Repository SplashCodeDex/WhatsDeX: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.json": [
    "npx prettier --write"
  ],
  "*.md": [
    "npx prettier --write"
  ]
}

conductor(setup): Add conductor setup files
  conductor/setup_state.json
  conductor/tracks.md
  conductor/tracks/refactor_20260108/metadata.json
  conductor/tracks/refactor_20260108/plan.md
  conductor/tracks/refactor_20260108/spec.md
Due: npx prettier --write

chore(deps): install zod and verify dotenv
  backend/src/services/embeddingService.ts
  backend/src/services/enhancedAIBrain.ts
  backend/src/services/healthCheckService.ts
  backend/src/services/memoryService.ts
  backend/src/services/planService.ts
  backend/src/services/startupOrchestrator.ts
  backend/src/services/templateService.ts
  backend/src/services/whatsDeXBrain.ts
  frontend/src/components/ui/glass-button.tsx
  frontend/src/components/ui/glass-card.tsx
Due: none

chore(deps): install zod and verify dotenv
  backend/package.json
  package-lock.json
Due: npx prettier --write

conductor(plan): Mark task 'Install Validation Dependencies' as complete
  .agent/workflows/PROJECT_RULES.md
  backend/fix_imports.js
  backend/jest.config.js
  backend/jest.config.ts
  backend/src/app.ts
  backend/src/config/ConfigManager.ts
  backend/src/services/index.ts
  backend/src/services/memoryService.ts
  backend/src/services/whatsDeXBrain.ts
  backend/tsconfig.json
  conductor/tracks.md
  conductor/tracks/refactor_20260108/plan.md
  frontend/jest.config.js
  frontend/jest.config.ts
  frontend/jest.setup.ts
  frontend/jsconfig.json
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
Due: eslint --fix, npx prettier --write

feat(config): implement Zod-validated ConfigService singleton
  backend/jest.config.ts
  backend/package.json
  backend/src/config/env.schema.ts
  backend/src/services/ConfigService.ts
  backend/src/services/__tests__/ConfigService.test.ts
  backend/tsconfig.json
Due: npx prettier --write

conductor(plan): Mark task 'Create ConfigService' as complete
  conductor/tracks/refactor_20260108/plan.md
Due: npx prettier --write

refactor(config): finalize Phase 1 environment hardening and fix startup issues
  backend/package.json
  backend/src/config/env.schema.ts
  backend/src/lib/context.ts
  backend/src/lib/firebase.ts
  backend/src/lib/prisma.ts
  backend/src/main.ts
  backend/src/server.ts
  backend/src/server/multiTenantApp.ts
  backend/src/tools/DynamicToolRegistry.ts
Due: npx prettier --write

conductor(plan): Mark Phase 1 as complete
  conductor/tracks/refactor_20260108/plan.md
Due: npx prettier --write

chore(deps): remove prisma dependencies and artifacts
  backend/package.json
  backend/src/lib/prisma.ts
Due: npx prettier --write

conductor(plan): Mark task 'Remove Prisma Technical Debt' as complete
  conductor/tracks/refactor_20260108/plan.md
Due: npx prettier --write

feat(firebase): harden initialization and add tests
  backend/src/lib/__tests__/firebase.test.ts
  backend/src/lib/firebase.ts
Due: none

feat(types): define strict firestore schema interfaces for multi-tenancy
  backend/src/types/firestore.ts
  backend/src/types/index.ts
Due: none

conductor(plan): Mark task 'Define Firestore Schema Types' as complete
  conductor/tracks/refactor_20260108/plan.md
Due: npx prettier --write

fix(frontend): add @types/jest and update moduleResolution to bundler
  frontend/package.json
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
Due: npx prettier --write

chore(deps): Remove unused dependencies, add missing ones, and fix auth test
  backend/package.json
  backend/src/middleware/authMiddleware.test.ts
  package-lock.json
  package.json
Due: npx prettier --write

fix(backend): Resolve type errors in database service
  backend/src/services/database.ts
  conductor/tracks/foundation_cleanup_20260115/plan.md
Due: npx prettier --write

chore: Update dependencies, fix database types, and update plan
  backend/src/commands/information/donate.ts
  backend/src/commands/information/price.ts
  backend/src/commands/owner/broadcastgc.ts
  backend/src/commands/owner/listbanneduser.ts
  backend/src/commands/owner/listpremiumuser.ts
  backend/src/commands/owner/listsewagroup.ts
  backend/src/commands/owner/omute.ts
  backend/src/services/commandSystem.ts
  backend/src/services/database.ts
  backend/src/services/groupService.ts
  backend/src/services/userService.ts
  conductor/tracks.md
  conductor/tracks/foundation_cleanup_20260115/metadata.json
  conductor/tracks/foundation_cleanup_20260115/spec.md
  frontend/tsconfig.tsbuildinfo
Due: npx prettier --write

fix: resolve syntax error in mediaProcessor.ts and finalize type safety fixes
  backend/scripts/fix-import-extensions.js
  backend/scripts/fix_any_catch.js
  backend/scripts/fix_esm_imports.js
  backend/src/commands/ai-chat/clearchat.ts
  backend/src/commands/group/mute.ts
  backend/src/commands/group/setoption.ts
  backend/src/commands/group/unwarning.ts
  backend/src/commands/group/warning.ts
  backend/src/commands/information/about.ts
  backend/src/commands/owner/broadcasttagsw.ts
  backend/src/jobs/mediaProcessor.ts
  backend/src/lib/index.ts
  backend/src/middleware/cooldown.ts
  backend/src/services/ConfigService.ts
  backend/src/services/auditLogger.ts
  backend/src/services/authManager.ts
  backend/src/services/authenticationService.ts
  backend/src/services/commandSystem.ts
  backend/src/services/database.ts
  backend/src/services/index.ts
  backend/src/services/moderationService.ts
  backend/src/services/subscription.ts
  backend/src/services/whatsDeXBrain.ts
  backend/src/tools/cmd.ts
  backend/src/tools/exports.ts
  backend/src/types/index.ts
  backend/src/utils/createBotContext.ts
Due: eslint --fix

fix(backend): resolve missing tool exports and type errors
  backend/package.json
  backend/scripts/fix_any_catch.js
  backend/service-account.json
  backend/src/commands/ai-image/deepdreams.ts
  backend/src/commands/downloader/play.ts
  backend/src/commands/downloader/tiktokdl.ts
  backend/src/commands/downloader/youtubeaudio.ts
  backend/src/commands/downloader/youtubevideo.ts
  backend/src/commands/information/nlp.ts
  backend/src/commands/owner/broadcasttagsw.ts
  backend/src/commands/search/tiktoksearch.ts
  backend/src/commands/tool/devianart.ts
  backend/src/commands/tool/faktaunik.ts
  backend/src/commands/tool/pinterest.ts
  backend/src/commands/tool/pixiv.ts
  backend/src/commands/tool/wallpaper.ts
  backend/src/commands/tool/zerochan.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/middleware/main.ts
  backend/src/middleware/security.ts
  backend/src/tools/api.ts
  backend/src/tools/cmd.ts
  backend/src/tools/exports.ts
  backend/src/tools/list.ts
  backend/src/tools/mime.ts
  backend/src/tools/msg.ts
  backend/src/utils/formatters.ts
  conductor/tracks/foundation_cleanup_20260115/plan.md
  package.json
Due: eslint --fix, npx prettier --write

feat: Implement user registration and authentication, integrate Tailwind CSS, and add a backend command system with a database check utility.
  backend/src/scripts/check-db.ts
  backend/src/services/commandSystem.ts
  backend/src/tools/cmd.ts
  conductor/tracks/foundation_cleanup_20260115/plan.md
  frontend/src/app/register/page.tsx
  frontend/src/services/authService.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.tsbuildinfo
  package-lock.json
Due: npx prettier --write

conductor(setup): Add conductor setup files and fix file casing
  backend/src/utils/chatHistoryManager.ts
  backend/src/utils/connectionDebugger.ts
  backend/src/utils/memoryManager.ts
  backend/src/utils/messageClassifier.ts
  backend/src/utils/moduleSystemFixer.ts
  backend/src/utils/performanceMonitor.ts
  backend/src/utils/processManager.ts
  backend/src/utils/rateLimiter.ts
  conductor/setup_state.json
  conductor/tracks.md
  conductor/tracks/stabilization_20260115/metadata.json
  conductor/tracks/stabilization_20260115/plan.md
  conductor/tracks/stabilization_20260115/spec.md
  frontend/package.json
  frontend/src/app/(dashboard)/dashboard/bots/page.tsx
  frontend/src/app/(dashboard)/dashboard/home/page.tsx
  frontend/src/app/(dashboard)/dashboard/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/features/bots/components/BotCard.tsx
  frontend/src/features/bots/components/BotList.tsx
  frontend/src/features/bots/components/CreateBotDialog.tsx
  frontend/src/features/bots/components/index.ts
  frontend/src/features/bots/index.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/endpoints.ts
  frontend/src/middleware.ts
  frontend/tsconfig.tsbuildinfo
  package-lock.json
Due: npx prettier --write

feat(frontend): implement API proxying and auth guards using Next.js rewrites and layouts
  .agent/workflows/PROJECT_RULES.md
  .gitignore
  backend/src/config/ConfigManager.ts
  backend/src/config/config.ts
  backend/src/config/env.schema.ts
  backend/src/controllers/authController.ts
  backend/src/lib/firebase.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/routes/authRoutes.ts
  backend/src/server/multiTenantApp.ts
  backend/src/services/ConfigService.test.ts
  backend/src/services/FirebaseService.ts
  conductor/tracks.md
  conductor/tracks/stabilization_20260115/plan.md
  frontend/next.config.ts
  frontend/src/app/(dashboard)/layout.tsx
  frontend/src/features/auth/actions.test.ts
  frontend/src/features/auth/actions.ts
  frontend/src/features/auth/components/LoginForm.tsx
  frontend/src/features/auth/components/RegisterForm.tsx
  frontend/src/features/auth/components/index.ts
  frontend/src/features/auth/hooks/index.ts
  frontend/src/features/auth/hooks/useAuth.ts
  frontend/src/features/auth/index.ts
  frontend/src/features/auth/schemas.ts
  frontend/src/features/auth/store.ts
  frontend/src/features/auth/types.ts
  frontend/src/features/bots/components/BotCard.tsx
  frontend/src/features/bots/components/QRCodeDisplay.tsx
  frontend/src/features/bots/components/index.ts
  frontend/src/features/bots/index.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/endpoints.ts
  frontend/src/middleware.ts
  frontend/src/server/auth/session.ts
  frontend/tsconfig.tsbuildinfo
Due: npx prettier --write

feat(billing): Create StripeService for Stripe initialization
  backend/src/routes/multiTenant.ts
  backend/src/services/FirebaseService.ts
  backend/src/services/multiTenantBotService.ts
  backend/src/services/stripeService.test.ts
  backend/src/services/stripeService.ts
  frontend/tsconfig.tsbuildinfo
Due: none

conductor(plan): Mark task 'Create stripeService.ts' as complete
  conductor/tracks/plans_billing_20260115/plan.md
Due: npx prettier --write

feat(billing): Update database schemas for subscription tiers and trials
  backend/src/types/contracts.ts
  backend/src/types/firestore.ts
Due: none

feat(middleware): Create planMiddleware to enforce bot limits and feature access
  backend/src/middleware/planMiddleware.test.ts
  backend/src/middleware/planMiddleware.ts
Due: none

conductor(plan): Mark task 'Create planMiddleware.ts' as complete
  conductor/tracks/plans_billing_20260115/plan.md
Due: npx prettier --write

feat(billing): Implement featureGating utility and integrate with middleware and services
  backend/src/middleware/planMiddleware.ts
  backend/src/services/multiTenantService.ts
  backend/src/utils/featureGating.test.ts
  backend/src/utils/featureGating.ts
Due: none

conductor(plan): Mark task 'Implement featureGating utility' as complete
  conductor/tracks/plans_billing_20260115/plan.md
Due: npx prettier --write

fix(billing): Fix duplicate getCollection call and use correct plan limits in multiTenantService
  backend/src/services/multiTenantService.test.ts
  backend/src/services/multiTenantService.ts
Due: none

feat: implement API key rotation, campaigns, and webhooks
  backend/src/commands/ai-chat/gemini.ts
  backend/src/commands/information/nlp.ts
  backend/src/lib/apiKeyManager.test.ts
  backend/src/lib/apiKeyManager.ts
  backend/src/lib/baileysFirestoreAuth.ts
  backend/src/lib/cache.ts
  backend/src/routes/campaigns.ts
  backend/src/routes/webhookRoutes.ts
  backend/src/server/multiTenantApp.ts
  backend/src/services/analytics.ts
  backend/src/services/campaignService.ts
  backend/src/services/embeddingService.ts
  backend/src/services/gemini.ts
  backend/src/services/geminiAI.ts
  backend/src/services/index.ts
  backend/src/services/metaAI.ts
  backend/src/services/multiTenantBotService.ts
  backend/src/services/nlpProcessor.ts
  backend/src/services/startupOrchestrator.ts
  backend/src/services/webhookService.ts
  backend/src/services/whatsDeXBrain.ts
  backend/src/types/contracts.ts
  backend/src/types/firestore.ts
  backend/src/types/index.ts
  backend/src/workers/intelligentWorker.ts
  backend/vitest.config.ts
  frontend/src/app/(dashboard)/dashboard/messages/page.tsx
  frontend/src/features/messages/components/CampaignList.tsx
  frontend/src/features/messages/components/CreateCampaignDialog.tsx
  frontend/src/features/messages/hooks/useCampaigns.ts
  frontend/src/features/messages/index.ts
  frontend/src/features/messages/types.ts
Due: none

refactor(config): migrate owner configuration to tenant-specific settings
  .husky/pre-commit
  ARCHITECTURE.md
  backend/src/commands/information/about.ts
  backend/src/commands/information/creator.ts
  backend/src/commands/information/nlp.ts
  backend/src/commands/main/menu.ts
  backend/src/commands/owner/eval.ts
  backend/src/commands/owner/exec.ts
  backend/src/commands/owner/join.ts
  backend/src/config/ConfigManager.ts
  backend/src/config/config.ts
  backend/src/config/env.schema.ts
  backend/src/lib/context.ts
  backend/src/services/ConfigService.ts
  backend/src/services/commandSystem.ts
  backend/src/services/tenantConfigService.ts
  backend/src/tools/cmd.ts
  backend/src/types/index.ts
  backend/src/types/tenantConfig.ts
  backend/src/utils/createBotContext.ts
  frontend/src/features/bots/components/BotConnectDialog.tsx
  frontend/tsconfig.tsbuildinfo
Due: npx prettier --write

feat(bots): add on-demand QR code generation with loading states
  frontend/src/features/bots/components/BotConnectDialog.tsx
  frontend/src/features/bots/components/QRCodeDisplay.tsx
  frontend/src/features/bots/hooks/useBots.ts
Due: none
